*{
  box-size:border-box;
  padding:0;
  margin:0;
}
body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191c29;
}
.main_div{
  
  display:flex;
  gap:50px;
  align-items:center;
  justify-content:center;
 
  width:52vw;
  height:70vh;
}
.card{
  position:relative;
  transition:all .2s;
}
img{
  width:23vw;
}
.absolute{
 position:absolute;
  
}
.character-div{
  top:-3vw;
opacity:0;
  transition:all 0.5s;
}
.character{
  height:40vw;
}
.name{
bottom:.3vw;
margin:0 10px 0 10px;
 
  display:grid;
  place-items:center;
}
.name_img{
  width:70%;
}
.card:hover .character-div,.card:hover .name_img{
  opacity:1;
   transform: perspective(900px) translateY(-5%) rotateY(25deg) translateZ(0);
  top:-8vw;

}
.card:hover .name{
  bottom:1vw;
}

.card:hover{
   transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
/*   box-shadow: 0 120px 120px 120px inset,10px 120px 120px 100px inset black; */
  
     box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75),-2px -35px 32px -8px rgba(0, 0, 0, 0.75);

}
